@media (max-width:1000px) {
    
.nav-cont-top {
    display: flex;
    justify-content: center;
    position: relative;
}
.hamburger-cont {
    position: absolute;
    padding: 10PX;
    top: 20%;
    left: 6%;
    display: block;
    cursor: pointer;
    i {
        font-size: 1.5rem;
        color: $colorMain;

    }
}
.hambi-cross-div {
    z-index: 3;
    display: block;
    position: relative;
    bottom: 15%;
    left: 40%;
    padding: 10PX;
    i {
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
    }
    &:HOVER {
        background: $colorHover;
    }
}
.hamburger-cont:HOVER { 
     background-color: $colorHover;
     border-radius: 100px;
}
.hamburger-cont i:active { 
    scale: 1.2;
}
.logo-search {
    flex-direction: column;
    form {
        width: 90vw;
    }
}
.shoping-cart-icon {
    position: absolute;
    top:20%;
    right: 4%;
    padding: 10px;
    i {
    font-size:1.5rem;
    }
  
}
.user-support-nav,
.help-shop-section ,
.user-account-section-nav,
.prvi-div {
    display: none;
}



// PRVI MENU NA KLIK
.dropdown-menu-categories {
    visibility: hidden;
    box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
    width: 70VW;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0%;
    z-index: 1;
    background:rgb(246, 243, 237);
    font-size: $tabfont;
    margin: 0;
}
.dropdown-categories-btn {
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 12%;
    width: 100%;
    
    cursor: pointer;
    &::after {
        content: "";
        rotate: 268deg;
        position: absolute;
        top: 20px;
        left: 90%;
        border-left:black solid 8px;
        
    }
    // &:hover {
    //     color: inherit;
    //     background: $colorHover;
        
    // }
    &:nth-child(3) {
        border-top: 1px solid;
    }
}
// login or register
.user-account-section-dropdown  {
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: 3;
    display: flex;
    
    a {    
        font-size: $pcfont;
        margin-left: 6px;    
        display: flex;

        &:nth-child(3) {

            color: blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}


// drugi red categorija cont
.dropdown-sub-categories-main-cont {
    display: none;
    box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0,0,0,0.26);
    
    width: 70VW;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0%;
    z-index: 2;
    background:rgb(246, 243, 237);
    font-size: $tabfont;
   overflow: auto;
}
// slika i ime 2 kategorije
.dropdownp-sub-sub-div_img-name {
    min-width: 70vw;
    padding: 10px;
    cursor: pointer;

img {
width: 30px;
}
}
.dropdownp-sub-sub-div_img-name:hover {
    background: $colorHover;
}
// A linkovi
.last-categorys-ul {
    display: none;
    margin: 0;
    padding: 0;
}
.dropdownp-sub-sub {
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    margin-top: 6rem;
    overflow: auto;
    align-self: baseline;
    gap: 20px;
}
.userAccDivJs {
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
   
    
}
}

@media (max-width:650px) {
    .dropdown-sub-categories-main-cont {
        font-size: $mobfont ;
        
    }
    .dropdownp-sub-sub {
        gap: 0px;
        width: 97%;
        overflow: hidden;
        font-size: $mobfont;
    }
    
}










.show {
    display: block;
}








.showw {
    visibility: visible;
}