.hamburger-cont,
.hambi-cross-div,
.user-account-section-dropdown {
  display: none;
}

.nav-cont-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.7rem;
  word-wrap: break-word;
}

.user-account-section-dropdown {
  display: none;
}

.logo-search {
  display: flex;
  align-items: center;
}
.logo-search img {
  width: 100px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-search form {
  min-width: 35vw;
  position: relative;
}
.logo-search form input {
  background-color: #f4f5f7;
  background-repeat: no-repeat;
  border: 0;
  height: auto;
  width: 100%;
  border-radius: 8px;
  color: #575d5e;
  font-size: 14px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(0, 130, 195, 0);
  transition: all 0.5s ease;
}
.logo-search form label {
  position: absolute;
  left: 0;
  top: 10px;
  left: 10px;
}

.help-shop-section {
  display: flex;
}

.user-help-shops-account-nav i {
  font-size: 1.1rem;
  color: orange;
}

.user-help-shops-account-nav ul li {
  margin-right: 20px;
  padding: 5px;
}

.user-help-shops-account-nav ul li:nth-child(1):hover,
.user-help-shops-account-nav ul li:nth-child(2):hover,
.user-help-shops-account-nav ul li:nth-child(4):hover {
  background: rgba(218, 151, 19, 0.149);
  border-radius: 30px;
}

.user-help-shops-account-nav,
.user-help-shops-account-nav ul,
.user-support-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
}

.user-support-nav {
  padding-right: 20px;
}
.user-support-nav p:nth-child(1) {
  font-weight: 900;
}
.user-support-nav i {
  margin-right: 10px;
  font-size: 2rem;
}

.user-account-section-nav {
  flex-grow: 2;
  padding: 10px 2px;
}

.user-account-section-nav:hover {
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown-menu-categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-categories-btn {
  font-size: 1.1rem;
  border: none;
  background: inherit;
  padding: 25px;
  position: relative;
  font-weight: 800;
}
.dropdown-categories-btn:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 42%;
  bottom: 0;
  border: 7px solid transparent;
  border-left: 7px solid orange;
  transform: rotate(90deg);
}
.dropdown-categories-btn:hover {
  color: orange;
}

.dropdown-categories-btn:nth-child(12) {
  color: red;
}

.dropdown-categories-btn:nth-child(14) {
  border-radius: 1px;
  background-color: #3b3e43;
  padding: 20px 25px;
  color: white;
}

.dropdown-menu-subcategories-cont {
  display: flex;
  position: relative;
  height: 80vh;
  margin-inline: 15rem;
  border: 1px solid black;
}

.dropdown-sub-categories-main-cont {
  display: none;
  position: absolute;
  top: 18%;
  margin: 0 2rem;
  width: 100vw;
  height: 80vh;
  background: #f4f5f7;
}

.dropdown-sub-categories-main-cont-men {
  width: 100%;
}

.dropdownp-sub-sub {
  margin: 1rem 0;
  display: flex;
  font-weight: 500;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

.dropdownp-sub-sub-ul {
  width: 13%;
  background: rgb(242, 242, 242);
}
.dropdownp-sub-sub-ul li {
  padding: 3px 5px;
  padding-top: 10px;
  font-size: 0.75rem;
}
.dropdownp-sub-sub-ul .dropdownp-sub-sub-div_img-name {
  width: 100%;
  display: flex;
  align-items: center;
  background: #eaeaea;
}
.dropdownp-sub-sub-ul img {
  width: 60px;
}
.dropdownp-sub-sub-ul span {
  color: #000000;
  font-weight: 900;
  padding-left: 5%;
  font-size: 0.9rem;
}

.dropdown-sub-categories-main-cont-men .dropdownp-sub-sub-ul {
  width: 20%;
}

.dropdown-sub-categories-main-cont-children .dropdownp-sub-sub-ul {
  width: 16%;
}

.dropdownp-sub-sub-ul a:hover {
  color: orange;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropdown-categories-btn:hover .dropdownp-sub-sub {
  display: block;
}

.show {
  display: block;
}

.prvi-div {
  width: 100%;
  height: 70px;
  background: orange;
}

@media (min-width: 1000px) {
  .dropdown-categories-btn:hover + .dropdown-sub-categories-main-cont {
    display: block;
  }
  .dropdown-sub-categories-main-cont:hover {
    display: block;
  }
}
@media (max-width: 1000px) {
  .nav-cont-top {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .hamburger-cont {
    position: absolute;
    padding: 10PX;
    top: 20%;
    left: 6%;
    display: block;
    cursor: pointer;
  }
  .hamburger-cont i {
    font-size: 1.5rem;
    color: orange;
  }
  .hambi-cross-div {
    z-index: 3;
    display: block;
    position: relative;
    bottom: 15%;
    left: 40%;
    padding: 10PX;
  }
  .hambi-cross-div i {
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
  }
  .hambi-cross-div:HOVER {
    background: rgba(218, 151, 19, 0.149);
  }
  .hamburger-cont:HOVER {
    background-color: rgba(218, 151, 19, 0.149);
    border-radius: 100px;
  }
  .hamburger-cont i:active {
    scale: 1.2;
  }
  .logo-search {
    flex-direction: column;
  }
  .logo-search form {
    width: 90vw;
  }
  .shoping-cart-icon {
    position: absolute;
    top: 20%;
    right: 4%;
    padding: 10px;
  }
  .shoping-cart-icon i {
    font-size: 1.5rem;
  }
  .user-support-nav,
  .help-shop-section,
  .user-account-section-nav,
  .prvi-div {
    display: none;
  }
  .dropdown-menu-categories {
    visibility: hidden;
    box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    width: 70VW;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0%;
    z-index: 1;
    background: rgb(246, 243, 237);
    font-size: 0.9rem;
    margin: 0;
  }
  .dropdown-categories-btn {
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 12%;
    width: 100%;
    cursor: pointer;
  }
  .dropdown-categories-btn::after {
    content: "";
    rotate: 268deg;
    position: absolute;
    top: 20px;
    left: 90%;
    border-left: black solid 8px;
  }
  .dropdown-categories-btn:nth-child(3) {
    border-top: 1px solid;
  }
  .user-account-section-dropdown {
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: 3;
    display: flex;
  }
  .user-account-section-dropdown a {
    font-size: 1.1rem;
    margin-left: 6px;
    display: flex;
  }
  .user-account-section-dropdown a:nth-child(3) {
    color: blue;
  }
  .user-account-section-dropdown a:nth-child(3):hover {
    text-decoration: underline;
  }
  .dropdown-sub-categories-main-cont {
    display: none;
    box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    width: 70VW;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0%;
    z-index: 2;
    background: rgb(246, 243, 237);
    font-size: 0.9rem;
    overflow: auto;
  }
  .dropdownp-sub-sub-div_img-name {
    min-width: 70vw;
    padding: 10px;
    cursor: pointer;
  }
  .dropdownp-sub-sub-div_img-name img {
    width: 30px;
  }
  .dropdownp-sub-sub-div_img-name:hover {
    background: rgba(218, 151, 19, 0.149);
  }
  .last-categorys-ul {
    display: none;
    margin: 0;
    padding: 0;
  }
  .dropdownp-sub-sub {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 6rem;
    overflow: auto;
    align-self: baseline;
    gap: 20px;
  }
  .userAccDivJs {
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
  }
}
@media (max-width: 650px) {
  .dropdown-sub-categories-main-cont {
    font-size: 0.75rem;
  }
  .dropdownp-sub-sub {
    gap: 0px;
    width: 97%;
    overflow: hidden;
    font-size: 0.75rem;
  }
}
.show {
  display: block;
}

.showw {
  visibility: visible;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  color: inherit;
}

.hover:hover {
  border-radius: 30px;
  background: rgba(218, 151, 19, 0.149);
  cursor: pointer;
}

.section-padding {
  margin-inline: 5rem;
}/*# sourceMappingURL=reset.css.map */